<p>footer works!</p>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
    
<footer class="footer-section">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                       <a href="https://www.google.co.in/maps/place/Elcot+Sez,+Sholinganallur,+Chennai,+Tamil+Nadu+600119/@12.9080553,80.2108152,15z/data=!3m1!4b1!4m6!3m5!1s0x3a525c7aa770e39f:0x4dcb05c2bd1571b!8m2!3d12.9067516!4d80.223766!16s%2Fg%2F1tfz8m3k?entry=ttu">
                        <i class="fas fa-map-marker-alt" ></i></a>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>Elcot Sez, Sholinganallur, Chennai, Tamil Nadu</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span> 987654321</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>kaarzz.edu.in</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
<!-- <div class="footers">

<div class="row">
<ul>
<li><a href="#">Contact us</a></li>
<li><a href="#">Our Services</a></li>
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">Terms & Conditions</a></li>
<li><a href="#">Career</a></li>
</ul>
</div>


</div> -->


    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2024, All Right Reserved <a href="https://github.com/indra-27/TestDriveCarFrontEnd">Kaarzz</a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>