.container
 {
    max-width: 400px;
    margin: 3 auto;
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 10px;
    align-items: center;
  }
  .form-group {
    margin-bottom: 15px;
    align-items: center;
  }
  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #03040b;
  background-color: #33339d;
}

li {
  float: left;
}

li a {
  display: block;
  color: #fcfafa;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #04060b;
}

li a.active {
  color: white;
  background-color: #04AA6D;
}
  