<!-- <form (ngSubmit)="forgotPassword()" >
    <p>Enter your email to reset your password and set a new password.</p>
    <label for="email">Enter your Email:</label><br>
    <input type="email" name="email" [(ngModel)]="customerEmail"  placeholder="Enter your email" #emailRef="ngModel"  pattern="[A-Za-z0-9._]{3,}[@A-Za-z]{3,}.[a-z]{2,3}" required><br>
    <div *ngIf="emailRef.invalid && (emailRef.touched || emailRef.dirty)">
        <p *ngIf="emailRef.errors?.['required']" class="text-danger">Email is required ,but it is blank</p> 

        <p *ngIf="emailRef.errors?.['pattern']" class="text-danger">Email is not valid   </p>
        </div>
    

    <label for="newPassword">Enter your New Password:</label><br>
    <input type="password" name="newPassword" [(ngModel)]="password" placeholder="Enter new password"  #newPasswordRef="ngModel" pattern="" required><br>


    <label for="confirmPassword">Confirm your Password :</label><br>
    <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirm new password" #confirmPassword="ngModel" required><br>
    <button type="submit">Reset Password</button>
  </form> -->

  <form (ngSubmit)="forgotPassword()" >
    <!-- <p>Enter your email to reset your password and set a new password.</p> -->
    <label for="email">Enter your Email:</label>
    <input type="email" name="email" [(ngModel)]="customerEmail"  placeholder="Enter your email" #emailRef="ngModel" pattern="[A-Za-z0-9._]{3,}[@A-Za-z]{3,}.[a-z]{2,3}"><br>
    <div *ngIf="emailRef.invalid && (emailRef.touched || emailRef.dirty)">
        <p *ngIf="emailRef.errors?.['required']" class="text-danger">Email is required ,but it is blank</p> 

        <p *ngIf="emailRef.errors?.['pattern']" class="text-danger">Email is not valid (e.g.abcd&#64;gmail.com)   </p>
        </div>

    <label for="newPassword">Enter your New Password:</label>
    <input type="password" name="newPassword" [(ngModel)]="password" placeholder="Enter new password" #passwordRef="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#&%$_]).{8,}" required><br>
    <div *ngIf="passwordRef.invalid && (passwordRef.touched || passwordRef.dirty)">
        <p *ngIf="passwordRef.errors?.['required']" class="text-danger">Password is required ,but it is blank</p> 

        <p *ngIf="passwordRef.errors?.['pattern']" class="text-danger">Must contain at least one  number and one uppercase and lowercase letter and one special character, and at least 8 or more characters  </p>
        </div>

    <label for="confirmPassword">Confirm your Password :</label>
    <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirm new password" #confirmPasswordRef="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#&%$_]).{8,}" required><br><br>
    <div *ngIf="confirmPasswordRef.invalid && (confirmPasswordRef.touched || confirmPasswordRef.dirty)">
        <p *ngIf="confirmPasswordRef.errors?.['required']" class="text-danger">Password is required ,but it is blank</p> 

        <p *ngIf="confirmPasswordRef.errors?.['pattern']" class="text-danger">Must contain at least one  number and one uppercase and lowercase letter and one special character, and at least 8 or more characters  </p>
        </div>

    <button type="submit" >Reset Password</button>

    <div *ngIf="message" class="alert alert-success">
        <p> {{message}}</p>
        
       
        
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">
        <p> {{errorMessage}}</p>
    </div>





  




         
  

