<header>
    <div class="icon">
        <img [src]="icon" alt = "icon">
    </div>
    <nav class="navbar">
        <div class="nav1">
            <a routerLink='app-add-car' routerLinkActive="Active" (click)="addCars(newCar)">Add Cars</a>
        </div>
        <div class="nav2">
            <a routerLink='app-update-car' routerLinkActive="Active" (click)="getCars(newCar)">Car Details</a>
        </div>
        <div class="nav3">
            <a routerLink='app-display-booking' routerLinkActive="Active" (click)="getBookingDetails()">Bookings</a>
        </div>
        <div class="nav4">
            <a routerLink='app-add-staffs' routerLinkActive="Active" (click)="addStaff()">Create Staff</a>
        </div>
        <div class="nav4">
            <a routerLink='app-display-staff' routerLinkActive="Active" (click)="deleteStaff()">Display Staff</a>
        </div>
    </nav>
</header>